@charset "UTF-8";

#server-info-list,
#server-info-list dt,
#server-info-list dd{
	margin:0;
	padding:0;
	border:0;
}

#server-info-list dt{
	font-weight: bold;
	font-size:smaller;
	line-height:1;
	border-bottom:1px solid #E5E5E5;
	padding:0 0 1px 0;
	margin:0 0 4px 0;
}

#server-info-list dd{
	margin:0 0 20px 0;
}