@charset "UTF-8";

html.wtaiu-open,
html.wtaiu-closed,
html.wtaiu-open #wpadminbar,
html.wtaiu-closed #wpadminbar{
	width:auto;
}

.transition-all{
	-webkit-transition:all 250ms ease-in-out;
	-moz-transition:all 250ms ease-in-out;
	-ms-transition:all 250ms ease-in-out;
	-o-transition:all 250ms ease-in-out;
	transition:all 250ms ease-in-out;
}

.transition-padding{
	-webkit-transition:padding 250ms ease-in-out;
	-moz-transition:padding 250ms ease-in-out;
	-ms-transition:padding 250ms ease-in-out;
	-o-transition:padding 250ms ease-in-out;
	transition:padding 250ms ease-in-out;
}

.transition-right{
	-webkit-transition:right 250ms ease-in-out;
	-moz-transition:right 250ms ease-in-out;
	-ms-transition:right 250ms ease-in-out;
	-o-transition:right 250ms ease-in-out;
	transition:right 250ms ease-in-out;
}

html.wtaiu-open{
	padding-right:300px;
}

html.wtaiu-open #wpadminbar{
	right:300px;
}

html.wtaiu-closed #wpadminbar{
	right:0;
}

#wtaiu{
	position:fixed;
	z-index:999999;
	top:0;
	right:-300px;
	bottom:0;
	width:300px;
	font:menu;
	color:#333;
	background:#F6F6F6;
	text-align:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#wtaiu.open{
	right:0;
}

#wtaiu a{
	color:#000;
}

#wtaiu a:hover,
#wtaiu a:active,
#wtaiu a:focus{
	color: #F00;
}

a#wtaiu-handle{
	display:block;
	min-height:3em;
	position:absolute;
	z-index:2;
	top:80px;
	left:0;
	padding:0 1.5em;
	word-spacing:.25em;
	text-align:center;
	line-height:3em;
	font-weight:bold;
	text-transform:uppercase;
	background:#4E98D6;
	color:#EEE;
	cursor:pointer;
	text-decoration:none;
	-moz-border-bottom-right-radius:2em 5em;
	-moz-border-bottom-left-radius:2em 5em;
	-webkit-border-bottom-right-radius:2em 5em;
	-webkit-border-bottom-left-radius:2em 5em;
	border-bottom-right-radius:2em 5em;
	border-bottom-left-radius:2em 5em;
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	-moz-transform-origin:left top;
	-webkit-transform-origin:left top;
	-o-transform-origin:left top;
	-ms-transform-origin:left top;
	transform-origin:left top;
	box-shadow:0 0 4px #333;
}

a#wtaiu-handle > span{
	white-space:nowrap;
	display:block;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}

a#wtaiu-handle:hover{
	color:#FFF;
}

#wtaiu.open #wtaiu-handle{
	background-color:#00B38A;
	color:#FFF;
}

a#wtaiu-close{
	position:absolute;
	z-index:1;
	top:50px;
	left:-1.5em;
	display:block;
	width:1.5em;
	padding:6px 0 0 0;
	height:34px;
	cursor:pointer;
	background:#C44;
	color:#FFF;
	text-decoration:none;
	font-size:20px;
	line-height:1;
	text-align:center;
	-moz-border-top-left-radius:5em 2em;
	-webkit-border-top-left-radius:5em 2em;
	border-top-left-radius:5em 2em;
	box-shadow:0 0 4px #333;
}

a#wtaiu-close:hover{
	background:#C33;
	color:#FFF;
}

#wtaiu-data{
	word-wrap:break-word;
	position:relative;
	z-index:100;
	background:#F6F6F6;
	margin:0;
	padding:0;
	overflow:auto;
	height:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	box-shadow:0 0 4px #333;
}

.touch #wtaiu-data{
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
}

#wtaiu-data .panel,
#wtaiu-data .panel-placeholder{
	position:relative;
	display:block;
	float:none;
	clear:none;
	width:auto;
	margin:0;
	padding:10px 20px;
	list-style:none;
}

#wtaiu-data .panel-placeholder{
	background:#C44;
	height:66px;
}

#wtaiu-data > .panel > .label,
#wtaiu-data > .panel > .content{
	position: relative;
	display:block;
	float:none;
	clear:none;
	width:auto;
	margin:0;
	padding:0;
}

#wtaiu-data > .panel:hover{
	background:#FFF;
}

#wtaiu-data > .panel > .label{
	line-height:1;
	font-weight:bold;
	line-height:1.5em;
	margin-bottom:.25em;
	cursor:move;
	cursor:-moz-grab;
	cursor:grab;
}

#wtaiu-data > .panel.ui-sortable-helper > .label{
	cursor:move;
	cursor:-moz-grabbing;
	cursor:grabbing;
}

#wtaiu-data > .panel > .content{
	line-height:1.5em;
}

#wtaiu-data > .panel.ui-sortable-helper{
	background:#FFF;
	opacity:.8;
}

#wtaiu-data .panel > .label:hover{
	background-image:url(../imgs/dots-15.png);
	border-radius:2px;
}

#wtaiu-data .panel > .label:before{
	display: none;
	position: absolute;
	right:100%;
	font-family: 'dashicons';
	content: "\f229";
	font-size:1.5em;
	color:#333;
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
}

#wtaiu-data .panel > .label:hover:before{
	display:block;
}

#wtaiu-data ul{
	margin:0;
	padding:0;
}

#wtaiu-data ul li{
	list-style:square;
	margin:0 0 0 2em;
}

#wtaiu .counter{
	display: inline-block;
	margin:0 0 0 .5em;
}

#wtaiu-data .info-table{
	table-layout: fixed;
	width:100%;
	border:0;
	margin:0;
	padding:0;
}

#wtaiu-data .info-table th,
#wtaiu-data .info-table td{
	text-align: left;
	text-transform:none;
	margin:0;
	padding:0;
	border:0;
}

#wtaiu-data .info-table thead th{
	font-weight: bold;
	font-size:smaller;
}