/* line 7, ../../scss/php-info-panel.scss */
#php-info-panel h1, #php-info-panel h2 {
  font: inherit;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
}
/* line 15, ../../scss/php-info-panel.scss */
#php-info-panel h2 {
  background: #4e98d6;
  color: #FFF;
  padding: 3px;
}
/* line 20, ../../scss/php-info-panel.scss */
#php-info-panel h2 a,
#php-info-panel h2 a:hover {
  color: inherit;
}
/* line 25, ../../scss/php-info-panel.scss */
#php-info-panel br {
  display: none;
}
/* line 29, ../../scss/php-info-panel.scss */
#php-info-panel table {
  margin: 0 0 1em 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .9em;
}
/* line 31, ../../scss/php-info-panel.scss */
#php-info-panel table:first-of-type {
  text-align: center;
}
/* line 33, ../../scss/php-info-panel.scss */
#php-info-panel table:first-of-type .h {
  background: transparent;
}
/* line 36, ../../scss/php-info-panel.scss */
#php-info-panel table:first-of-type h1.p {
  font-size: 1.75em;
}
/* line 51, ../../scss/php-info-panel.scss */
#php-info-panel table tr.h {
  background: rgba(0, 0, 0, 0.066);
}
/* line 56, ../../scss/php-info-panel.scss */
#php-info-panel table td,
#php-info-panel table th {
  vertical-align: top;
}
/* line 61, ../../scss/php-info-panel.scss */
#php-info-panel table td:first-child:nth-last-child(2),
#php-info-panel table td:last-child:nth-child(2) {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 67, ../../scss/php-info-panel.scss */
#php-info-panel table .e {
  font-weight: bold;
}
/* line 71, ../../scss/php-info-panel.scss */
#php-info-panel table td:last-child:nth-child(2).v {
  margin-bottom: .5em;
}
